{% extends "main/layouts/page.html" %}
{% load static i18n i18n_db %}

{% block title %}{% t "work.title" "Works" %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/work.css' %}">
{% endblock %}

{% block content %}
<section class="work-page">
    <div class="work__container">
        <div class="work__name">
            {% t "work.title" "Works" %}
        </div>

        <div class="work__description">
<p>{% t "work.description" "A fusion of abstract and landscape elements, these artworks offer a unique perspective on natural scenery." %}</p>
        </div>

        <div class="work__filter">
<a href="{% url 'work' %}" class="work__filter-item{% if not active_category %} is-active{% endif %}">{% t "work.filter.all" "All" %}</a>
            {% for cat in categories %}
            <a href="?category={{ cat.slug }}"
                class="work__filter-item{% if active_category == cat.slug %} is-active{% endif %}">{{ cat.name }}</a>
            {% endfor %}
        </div>

        <div class="work__elements">
            {% for p in paintings %}
            <a href="{{ p.get_absolute_url }}" class="work__element">
                <div class="work__element-back" style="background-image: url('{{ p.main_image.url }}');"></div>
                <div class="work__element-desc">
                    <p>{{ p.title }}</p>
                </div>
            </a>
            {% empty %}
            <p>{% t "work.empty" "No works yet." %}</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}