<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Painter Cinecon{% endblock %}</title>

    {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- GLOBAL CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- PAGE CSS -->
    {% block page_css %}{% endblock %}
</head>

<body>


    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>